---
import Layout from '../layouts/BaseLayout.astro';
import publications from '../data/publications.json';
---

<Layout title="Publications | Christoph Kittel">
  <main class="max-w-4xl mx-auto p-6">
    <h1 class="text-3xl font-bold mb-8">Publications</h1>
    
    <div class="space-y-8">
      {["2025", "2024", "2023", "2022", "2021"].map(year => (
        <section>
          <h2 class="text-xl font-semibold border-b-2 border-blue-500 w-fit mb-4">{year}</h2>
          <ul class="list-disc pl-5 space-y-4">
            {publications.filter(p => p.year === year).map(pub => (
              <li>
                <p class="text-gray-800">{pub.fullReference}</p>
                <a href={pub.doi} class="text-blue-600 hover:underline text-sm" target="_blank">DOI Link</a>
              </li>
            ))}
          </ul>
        </section>
      ))}
    </div>
  </main>
</Layout>
